#title{
    text-align: center;
}

#content{
	width: 25em;
    margin: auto;
    line-height: 25px;
    border: solid 1px;
    border-radius: 25px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;
    width: 70%;
    padding: 15px;
}

legend{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
}

#inputBox input{
    padding: 15px;
    border: solid 1px grey;
    border-radius: 5px;
    width: 200px;
}

#links{
    display: flex;
    gap: 80px;
}

#links a{
    color: #0083f5;
    text-decoration: none;
}

#links a:hover{
    color: #004684;
    border-radius: 5px;
    text-decoration: none;
}

input[type="submit"]{
    width: 80px;
    height: 30px;
    color: white;
    border: solid white;
    border-radius: 4px;
    background-color: #0074d9;
}

input[type="submit"]:hover{
    background-color: #004684;
}

.loginError{
    color: red;
    padding-left: 20px;
    padding-top: 10px;
}