@font-face {
    font-family: 'ArchivoBlack';
    src: url('ArchivoBlack-Regular (1).ttf');
}


#title {
    font-family: 'ArchivoBlack';
    text-align: center;
}

#content{
	width: 300 px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20 px
    line-height: 25px;
    border: solid 1px;
    border-radius: 25px;
    box-shadow: 0 0 10 px rgba(0,0,0,0.1)
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;
    width: 70%;
    padding: 15px;
}

legend{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
}

#inputBox input{
    padding: 15px;
    border: solid 1px grey;
    border-radius: 5px;
    width: 50%;
}

#links{
    display: flex;
    gap: 80px;
}

#links a{
    color: #0083f5;
    text-decoration: none;
}

#links a:hover{
    color: #004684;
    border-radius: 5px;
    text-decoration: none;
}

input[type="submit"]{
    width: 80px;
    height: 30px;
    color: white;
    border: solid white;
    border-radius: 4px;
    background-color: #0074d9;
}

input[type="submit"]:hover{
    background-color: #004684;
}

.loginError{
    color: red;
}

#logoutHeader {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #2c3e50 ;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
  }
  
  #logoutHeader a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  #logoutHeader span {
    margin-right: 8px;
  }
  
  #logoutHeader:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.20);
  }
  
  #logoutHeader:hover a {
    color: #f9e79f;
  }
  